<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @product.image.url(:medium) %>
        
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @product.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @product.description %></td>
              </tr>
              <tr>
                <td><strong><%= get_status(@product)%></strong></td>
              </tr>
              <tr>
                <% if @product.status == false %>
                <td><%= link_to "Notify me", [@product, @product.notifications.build], :method => :post, class: "btn btn-primary" %></td>
                <%end%>
              </tr>
              <tr>
                <%= link_to like_product_path(@product), method: :put, class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-heart">
                    <%= @product.get_upvotes.size %>
                  </span>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
	</div>
  </div>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
